@import url('//fonts.googleapis.com/css?family=Roboto');

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	flex-wrap: nowrap;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
  	justify-content: center;
  	border-bottom: 1px solid #e1e1e1;
  	background-color: #fAfAfA;
}

.center {
	text-align: center;
}

.title {
	padding-top: 100px;
}

.row {
	padding-top: 20px;
}

iframe {
	margin-top: 20px;
	margin-bottom: 20px;
}

.col-md-8 {
	padding-bottom: 10px !important;
}

/* Code blocks */

.alert-message {
	color: #8a6d3b;
    background-color: #fcf8e3;
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #faebcc;
    border-radius: 4px;
}
