@import url('//fonts.googleapis.com/css?family=Roboto');

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
}

.center {
	text-align: center;
}

iframe {
	margin-top: 40px;
	margin-bottom: 40px;
}

.content {
	height: 100vh;
}

.grid-container {
	overflow: hidden;
}

.menu-bar {
	height: 70px;
	border-bottom: 1px solid #dbe2e8;
    box-shadow: inset 0 0 0 0 #dbe2e8,0 2px 1px 0 rgba(47,61,73,.05);
	padding-left: 60px;
	font-size: 30px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-child {
	height: calc(100% - 70px);
    overflow-y: scroll;
	background-color: #fafbfc;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 60px;
	padding-right: 60px;
}

.sidebar {
	// top: 70px;
	background-color: #2e3d49;
	height: 100vh;
	color: white;
	text-decoration: none;
	padding-right: 0;

	a:hover {
		text-decoration: none;
	}

	a:focus {
		text-decoration: none;
	}
}

.sidebar-title {
	height: 70px;
	justify-content: center;
    text-align: center;
	display: flex;
	margin-left: 0;
	margin-right: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.sidebar-title-logo {
	vertical-align: middle;
	margin: auto;
}

.sidebar-toc {
	height: calc(100% - 70px);
	overflow-y: hidden;
	// width: 100%;
	// top: 70px;
}
/* Code blocks */

.alert-message {
	color: #8a6d3b;
    background-color: #fcf8e3;
	padding: 15px;
    margin-bottom: 20px;
	margin-top: 20px;
    border: 1px solid #faebcc;
    border-radius: 4px;
}

pre {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* Sidebar panel */

.panel {
	border-top: 1px solid #32383f;
    background-color: #24323e;
    line-height: 20px;
	font-size: 14px;
	padding-top: 20px;
	// padding-bottom: 20px;

	.panel-heading {
		padding-left: 40px;
		padding-bottom: 20px;
	}

	.panel-body span {
		padding-left: 40px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.list-group {
    height: 100%;
	margin-bottom: 0;
	overflow-y: scroll;
}

.list-group-item {
	line-height: 14px;
	padding: 18px;
	background-color: #2e3d49;

	a {
		color: #a19c9b;
		font-size: 14px;
	}
}

/* Content */
.content-child img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.no-margin {
	margin-top: 0;
	margin-bottom: 0;
}

.image-row {
	flex-direction: row;
    display: flex;
	text-align: center;
    justify-content: center;
	padding-left: 10%;
	padding-right: 10%;
}

.image-row img {
	height: 100%;
	margin-left: 20px;
	margin-right: 20px;
}

/* refresh button */

.refresh-button {
	float: right;
	top: 73px;
	right: 4px;
	outline: none;
	position: relative;
	color: #eefafa;
    background-color: #616469;
	border-width: 0;
}

.refresh-button:hover {
	color: yellow;
}

.bt-spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

button.active {
    // background-color: var(--ui-active-color);
    color: yellow;
}
