@import url('//fonts.googleapis.com/css?family=Roboto');

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
}

// .header {
// 	flex-wrap: nowrap;
// 	padding-top: 8px;
// 	padding-bottom: 8px;
// 	display: flex;
// 	flex-direction: row;
// 	align-items: center;
// 	width: 100%;
//   	justify-content: center;
//   	border-bottom: 1px solid #e1e1e1;
//   	background-color: #fAfAfA;
// }

.center {
	text-align: center;
}

iframe {
	margin-top: 40px;
	margin-bottom: 40px;
}

.content {
	height: 100vh;
	// overflow: hidden;
}

.grid-container {
	overflow: hidden;
}

.menu-bar {
	height: 70px;
	border-bottom: 1px solid #dbe2e8;
    box-shadow: inset 0 0 0 0 #dbe2e8,0 2px 1px 0 rgba(47,61,73,.05);
	padding-left: 60px;
	font-size: 30px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-child {
	height: calc(99% - 70px);
    overflow-y: scroll;
	background-color: #fafbfc;
	padding-top: 50px;
	padding-left: 60px;
	padding-right: 60px;
	// height: 100%;
    // overflow: scroll;
}

.sidebar {
	// top: 70px;
	background-color: #2e3d49;
	height: 100vh;
	color: white;
	text-decoration: none;

	a:hover {
		text-decoration: none;
	}

	a:focus {
		text-decoration: none;
	}
}

.sidebar-title {
	height: 70px;
	background-color: #1c262f;
	color: white;
	// text-align: center;
    justify-content: center;
	display: flex;
	flex-direction: column;
	font-size: 36px;
}

.sidebar-title-logo {
	padding-left: 40px;
	// margin: auto;
}

.sidebar-toc {
	// top: 70px;
}
/* Code blocks */

.alert-message {
	color: #8a6d3b;
    background-color: #fcf8e3;
	padding: 15px;
    margin-bottom: 20px;
	margin-top: 20px;
    border: 1px solid #faebcc;
    border-radius: 4px;
}

pre {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* Sidebar panel */

.panel {
	border-top: 1px solid #32383f;
    background-color: #24323e;
    line-height: 20px;
	font-size: 14px;
	padding-top: 20px;
	// padding-bottom: 20px;

	.panel-heading {
		padding-left: 40px;
		padding-bottom: 20px;
	}

	.panel-body span {
		padding-left: 40px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.list-group-item {
	line-height: 14px;
	padding: 18px;
	background-color: #2e3d49;

	a {
		color: #a19c9b;
		font-size: 14px;
	}
}
