* {
    box-sizing: border-box;
}

/* Main section */

html,
body {
    width: 100%;
    background-color: #fafbfc;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: inherit;
    line-height: inherit;
    font-weight: 300;
    color: #d4645c;
}

.center {
    text-align: center;
}

.grid-container {
    overflow: hidden;
}

.content {
    height: 100vh;
    padding-left: 0;
    padding-right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-child {
    height: calc(100% - 70px);
    background-color: #fafbfc;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}

/* Top Menu */

.menu-bar {
    height: 70px;
    border-bottom: 1px solid #dbe2e8;
    box-shadow: inset 0 0 0 0 #dbe2e8, 0 2px 1px 0 rgba(47, 61, 73, 0.05);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Sidebar */

.sidebar {
    height: 100vh;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;

    a:hover {
        text-decoration: none;
    }

    a:focus {
        text-decoration: none;
    }
}

.sidebar-title {
    height: 70px;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #dbe2e8;
    box-shadow: inset 0 0 0 0 #dbe2e8, 0 2px 1px 0 rgba(47, 61, 73, 0.05);
}

.sidebar-title-logo {
    vertical-align: middle;
    max-width: 140px;
    cursor: pointer;
}

.sidebar-image-container {
    justify-content: center;
    text-align: center;
    margin: auto;
}

.sidebar-toc {
    height: calc(100% - 70px);
    overflow-y: scroll;
    background-color: #f8f8f8;
    margin-left: 0;
    margin-right: 0;
}

.sidebar-toc::-webkit-scrollbar {
    display: none;
}

/* Sidebar sections */

.panel {
    .panel-heading {
        padding-left: 40px;
        padding-bottom: 20px;
        padding-top: 20px;
        border-radius: 0;
        cursor: pointer;
    }
}

.list-group {
    height: 100%;
    margin-bottom: 0;
    overflow-y: scroll;
}

.list-group-item {
    line-height: 14px;
    font-weight: 400;

    a {
        display: block;
        width: 100%;
        padding-left: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #a19c9b;
        font-size: 14px;
    }
}

.list-group-item.background {
    background-color: #eee;
}

.background-panel .panel-heading {
    color: white;
    background-color: #385d5c;
}

.background-panel .panel-heading a:hover {
    color: white;
}

/* Spacing */

.content-child img,
.alert,
pre,
iframe {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Images */

.content-child img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafbfc; // Override of mapzen style
}

.image-row {
    flex-direction: row;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.image-row img {
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

/* Pagination Buttons */

.pagination {
    display: flex;
}

.pagination-empty {
    width: 50%;
}

/* Media, smaller devices */

// Using 768 px as media limit as bootstrap does
@media (max-width: 768px) {
    .sidebar {
        height: 100%;
    }

    .content {
        height: 100%;
    }

    .content-child {
        overflow-y: hidden;
    }
}
